@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap');

.titles {
	display: flex;
    flex-flow: row nowrap;
	align-items: center;
	gap: 20px;
	/*padding: 20px 10%;*/
    justify-content: center;
    width: 25%;
    padding-bottom: 2vh;
    background: none;
    font: 600 22px/140% 'Work Sans';
    text-transform: capitalize;
    text-align: center;
    border: none;
}
.titles > p{
    display:none;
}
.search_nft_selector{
    background: var(--bg);  
    display: flex;
    justify-content: center;
}